---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, I am Luiz!</h1>
			<p>
			Welcome to my blog! I am a computer scientist and a mid-level software engineer. To the moon!
			</p>
			<p>
			Currently working with Java and Next. Golang enthusiast
			</p>
			<p>Here are some of my favorite projects:</p>
			<ul>
				<li><a href="https://github.com/Felipalds/neander">Neander - a simple and theoric computer made in VHDL</a></li>
				<li><a href="https://github.com/Felipalds/fat16-reader">FAT 16 reader</a></li>
			</ul>
			<p>
			Thanks for supporting me!
			</p>
		</main>
		<Footer />
	</body>
</html>
